! 2bwm

twobwm.border_width: 0
twobwm.outer_border: 0
twobwm.focus_color: #515151
twobwm.unfocus_color: #f2f0ec
twobwm.fixed_color: #6699cc
twobwm.unkill_color: #66cccc
twobwm.outer_border_color: #F2F0EC
twobwm.fixed_unkill_color: #cc99cc
twobwm.inverted_colors: false
twobwm.enable_compton: true

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
!!Xft.autohint: true
Xft.hintstyle: hintslight
!Xft.lcdfilter: lcddefault

*.font:monospace:pixelsize=18
!*.fontalt0:Symbola:pixelsize=18

*.foreground: #515151
*.background: #F0F0F0

! Black
 st.color0:       #0E101C
 st.color8:       #0E101C

 ! Red
 st.color1:       #B32923
 st.color9:       #B32923

 ! Green
 st.color2:       #518335
 st.color10:      #518335

 ! Yellow
 st.color3:       #D2920F
 st.color11:      #D2920F

 ! Blue
 st.color4:       #154C7C
 st.color12:      #154C7C

 ! Magenta
 st.color5:       #60587A
 st.color13:      #60587A

 ! Cyan
 st.color6:       #498284
 st.color14:      #498284

 ! White
 st.color7:       #C8CCCC
 st.color15:      #C8CCCC

!*.reverseCursor: #282828
