! 2bwm

twobwm.border_width: 0
twobwm.outer_border: 0
twobwm.focus_color: #515151
twobwm.unfocus_color: #f2f0ec
twobwm.fixed_color: #6699cc
twobwm.unkill_color: #66cccc
twobwm.outer_border_color: #F2F0EC
twobwm.fixed_unkill_color: #cc99cc
twobwm.inverted_colors: false
twobwm.enable_compton: true

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
!!Xft.autohint: true
Xft.hintstyle: hintslight
!Xft.lcdfilter: lcddefault
